.container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "article article article"
        "section section section";
    justify-content: center;

}

section {
    background-color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}




article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article a {
    color: #000000;
    text-decoration: none;
}

.obj {
    flex-basis: 20%;
    grid-area: obj;
    background-color: #FFFFFF;
    text-align: center;
    margin: 5px;
    transition-duration: 0.3s;

}



article {
    grid-area: article;

}


.watch {
    grid-area: watch;
    width: 80%;
    height: auto;
}

.obj:hover {
    flex-basis: 30%;
    transition-duration: 0.3s;
    background-color: #BB1800;
    color: #FFFFFF;
}